<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="excel-light.ZPM">
    <Module>
      <Name>excel-light</Name>
      <Version>1.0.0</Version>
      <Description>Light weight Excel download</Description>
      <Keywords>CSP, CLS</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
       <Resource Name="dc.excellight.CLS"/>
    </Module>
  </Document>
</Export>
